@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.add-form {
	margin-bottom: 40px;
}
      
.form-control {
	margin: 20px 0;
}
      
.form-control label {
	display: block;
}
      
.form-control input {
	width: 100%;
	height: 40px;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
}
      
.form-control-check {
	display: flex;
	align-items: center;
	justify-content: space-between;
}