.newPostPage{
    width: 100%;
    height: 93vh;
    margin-top: 50px;
    background-color: #5f5d98;
}

.newPostCenter{
    max-width: 95%;
    padding: 15px 0px; 
    margin: 0 auto;
}

.postPageTitle{
    display: flex;
    align-items: center;
    border: 2px solid #57068c;
    border-radius: 15px;
    text-align:left;
    height: 50px;
    color: white;
    font-size: 1.3em;
    padding-left: 20px;
}

.channelAndUser{
    margin: 15px 0px;
    display: flex;
    padding: 10px 20px;
    border: 2px solid #57068c;
    border-radius: 15px;
    width: 100%;
    height: auto;
    align-items: center;
}


.plusSign{
    margin-bottom: 3px;
    margin-left: 2px;
}

.avatarAndUser{
    display: flex;
    justify-content: flex-end;
    flex: 9;
    align-items: center;
}

.postUserName{
   margin-left: 4px;
   color: white;
}

.titleAndContent{
    width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
    height: auto;
    border: 2px solid #57068c;
    border-radius: 15px;
}


.form-control {
	margin: 10px 0;
}
       
.form-control input {
	width: 100%;
	height: 40px;
	padding: 2px 5px;
	font-size: 17px;
	border-radius: 5px;
}

.buttonSection{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 5px;
    
}

.uploadFile{
    display: flex;
    flex-direction: column;
}

.imgUpload{
    margin-bottom: 0.5em;
}

.postButton{
    margin-top: 1.2em;
}

.selectForm{
    height: 50px !important;
}

.iColor{
    color: black !important;
}

.ck-editor__editable_inline {
    height: 30vh;
}



