.channelPage{
    margin-top: 50px;
    padding-top: 10px;
    background-color: #5f5d98;
    min-height:100vh;
}

.channelHeader{
    color:white;
    font-size: 1.5em;
    text-align: center;
    margin:5px auto;
    z-index: 100;
}

@keyframes landing {
    0%   {background-color: #ffffff;}
    25%  {background-color: #ff9d47;}
    50%  {background-color: #547b51;}
    100% {background-color: #5f5d98;}
  }

.landing{
    width:100%;
    height: 100vh;
    padding-top:45px ;
    margin: auto;
    background-color: #5f5d98;
    color: #57068c;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: landing;
    animation-duration: 5s;
}