.pwResetPage{
    margin:auto;
    width: 90%;
    padding: 15% 10%;
}

.title{
    font-size:x-large;
    font-weight: bold;
}

.subTitle{
    font-size:medium;
    font-weight:lighter;
    color: grey;
    margin-top:3%;
}

.passwordField{
    margin-top: 1em;
}

.passwordConfirm{
    margin-top: 1em;
}

.nextButtonArea{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
}

.messageShow{
    margin-top: 1em;
}

.errMessage{
    font-size:large;
    color: red;
}