.signupPage{
    margin:auto;
    width: 100%;
    height: 100vh;
    padding: 15% 10%;
    color:#57068c;
    background-color: #5f5d98;
}

.signupTitle1{
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    color:#57068c;
}

.title{
    text-align:center;
   
}

.form{
    margin-top:10%;
}



.emailInputArea, .pwInputArea{
    margin-top: 5%;
    
}

.unInput, .emailInput, .pwInput{
    width : 100%;
    background-color: #ffffffcb;
    border-radius: 5px;
}

.messageShow{
    margin-top: 1em;
}

.errMessage{
    font-size:large;
    color: red;
}

.imageUpload{
    margin-top: 1em;
    margin-bottom: 1em;
}