:root {
    --primary: #4628ff;
    --warning: #ffd028;
    /*--danger: #eb3f27;
    --sucess: #75fa83;*/
    --white: #fdfdfd;
    --dark: #181717;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1)
}

/* Button Colors & Styles */
.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--warning--solid {
    background-color: var(--warning);
    color: var(--dark);
    border: none;
}

/*Button Sizes*/
.btn--large{
    padding:3% 10%;
    font-size:100%;
}

.btn--medium{
    padding:2% 5%;
    font-size:90%;
}

.btn--small{
    padding: 1% 2%;
    font-size: 80%;
}