.topBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: #57068c;
    z-index: 8;
}

.topBarItems {
    max-width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    
}

.hamburgerMenu{
    margin-right: 1%;
}

.searchBox {
    flex:8;
    width: 100%;
    height: 30px;
    background-color:white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
}

.searchInput {
    width:80%;
    margin-left: 15px;
    height:fit-content;
    border: none;
}

.searchIcon{
    font-size: 23px !important;
    margin-right: 10px ;
    cursor: pointer;
}

.closeIcon{
    font-size: 23px !important;
    margin-right: 10px ;
    cursor: pointer;
}

.searchInput:focus{
   outline: none;
}

.avatarContainer{
    margin-left: 3%;
    margin-right: 0%;
}

.avatarIcon{
    cursor:pointer;
}

.blankbox{
    width: 100%;
    margin-bottom:6%;
}

.dataResult{
    position: fixed;
    top:6vh ;
    left: 15.5%;
    display: flex;
    flex-direction: column;
    width : 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    background-color:white;
    color: black;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
}

.dataItem{
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.dataItem:hover{
    background-color: lightgrey;
}

.menu{
    position: fixed;
    background-color:#5f5d98;
    text-align: center;
    height: 100%;
    width:100% ;
    animation: fadeIn 0.3s ease-in-out;
    margin-bottom: 3%;
    z-index: 4;
}

.menuIcon{
    cursor: pointer;
}

.Menuitem{
    margin-bottom: 3%;
}

.menuItemGroup{
    padding-top:20%;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100;;
    }
}
