 

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

.task {
    background: #f4f4f4;
    border: 2px solid #57068c;
    border-radius: 7px;
    max-width: 95%;
    margin: 0 auto;
    cursor: pointer;
    height: auto;
}

.header {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
    padding: 5px 0px;
    align-items: center;
}

.userName{
    margin-left: 7px;
    display: flex;
    flex:3;
    justify-content: flex-start;
    font-size: 0.9em;
}

.courseName{
    display: flex;
    flex: 7;
    justify-content: flex-start;
    font-size: 0.9em;
}

.time{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    font-size: 0.9em;
}

.content{
    max-width: 95%;
    margin: 15px auto;
}

.contenttitle{
    margin: 7px 0px;
}

.contentImg{
    width : 100%;
    height : 200px;
}

.textContent{
    text-align:justify;
    margin-top: 0.5em;
}

img{
    display: block;
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}

.tLink {
    text-decoration: none;
    color: black;

}