
.accountPage{
    padding-top: 60px;
    background-color: #5f5d98;
    height: 100vh;
}

.account{
    display: flex;
}

.accountTop{
    display: flex;
    color: white;
    
}

.accountBottom{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.accountHeader{
    display: flex;
    justify-content: center;
    background-color: #57068c;
    border-radius: 5px;
    margin: 5px;
    padding-top: 2px; 
}

.accountImage{
    display: flex;
    margin-left: 15px;
    
}

.profilePicture{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.accountBio{
    display: flex;
    flex: 9;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 10px;
    margin-left: 5px;
}

.accountName{
    color:white;
}

.userClasses{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 10px, solid, red;
    background-color: white;
    border-radius: 5px;
}

.contentTitle{
    padding: 5px;
    background-color: #57068c;
    border-radius: 5px;
    color:white;
}

.contentList{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/* .logoutButton{
    display: flex;
    justify-content: center;
} */
